<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.depaul.csc595.jarvis" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="edu.depaul.csc595.jarvis.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="edu.depaul.csc595.jarvis.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".prevention.ehelp.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        >
        <activity
            android:name=".main.SplashActivity"
            android:label="Introduction" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity android:name=".main.SplashActivity"
            android:label="Splash Activity"
            android:theme="@style/FullscreenTheme"></activity>
            -->
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".detection.RegisterProducts"
            android:label="@string/title_activity_register_products" >
        </activity>
        <activity
            android:name=".rewards.RewardsActivity"
            android:label="@string/title_activity_rewards"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- This is for Reminder -->
        <activity
            android:name=".reminders.main.ReminderActivity"
            android:label="@string/title_activity_reminder"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".reminders.staticreminders.activities.ReminderFireExtinguisher"
            android:parentActivityName=".appliances.main.AppliancesActivity"></activity>
        <activity
            android:name=".reminders.staticreminders.activities.ReminderDryer"
            android:parentActivityName=".appliances.main.AppliancesActivity"></activity>
        <activity
            android:name=".reminders.staticreminders.activities.ReminderCODetector"
            android:parentActivityName=".appliances.main.AppliancesActivity"></activity>
        <activity
            android:name=".reminders.staticreminders.activities.ReminderGenerator"
            android:parentActivityName=".appliances.main.AppliancesActivity"></activity>
        <activity
            android:name=".reminders.staticreminders.activities.ReminderVent"
            android:parentActivityName=".appliances.main.AppliancesActivity"></activity>
        <activity
            android:name=".reminders.staticreminders.activities.ReminderSumpPump"
            android:parentActivityName=".appliances.main.AppliancesActivity"></activity>
        <activity
            android:name=".reminders.staticreminders.activities.ReminderSmokeAlarm"
            android:parentActivityName=".appliances.main.AppliancesActivity"></activity>
        <activity
            android:name=".reminders.staticreminders.activities.ReminderWashingMachine"
            android:parentActivityName=".appliances.main.AppliancesActivity"></activity>
        <activity
            android:name=".reminders.staticreminders.activities.ReminderWaterHeater"
            android:parentActivityName=".appliances.main.AppliancesActivity"></activity>
        <activity android:name=".reminders.staticreminders.rewardgenerate.ReceiveRewards"></activity>

        <receiver android:name=".reminders.staticreminders.services.MyReceiver"/>
        <receiver android:name=".reminders.staticreminders.receivers.ReceiverForCODetector"></receiver>
        <receiver android:name=".reminders.staticreminders.receivers.ReceiverForDryer"></receiver>
        <receiver android:name=".reminders.staticreminders.receivers.ReceiverForDryerVent"></receiver>
        <receiver android:name=".reminders.staticreminders.receivers.ReceiverForFireExting"></receiver>
        <receiver android:name=".reminders.staticreminders.receivers.ReceiverForGenerator"></receiver>
        <receiver android:name=".reminders.staticreminders.receivers.ReceiverForSmokeAlarm"></receiver>
        <receiver android:name=".reminders.staticreminders.receivers.ReceiverForSumpPump"></receiver>
        <receiver android:name=".reminders.staticreminders.receivers.ReceiverForWashingMachine"></receiver>
        <receiver android:name=".reminders.staticreminders.receivers.ReceiverForWaterHeater"></receiver>

        <!-- For Prevention -->
        <activity
            android:name=".prevention.main.PreventionActivity"
            android:label="@string/title_activity_prevention"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".prevention.ehelp.main.EHelpMainActivity"
            android:label="E-Help"
            android:parentActivityName=".prevention.main.PreventionActivity">

        </activity>

        <!-- This is for Appliances -->
        <activity
            android:name=".appliances.main.AppliancesActivity"
            android:label="@string/title_activity_appliances"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <!-- This is for Settings -->
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".profile.LogInActivity"
            android:label="@string/profile_signin"
            android:parentActivityName=".main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.depaul.csc595.jarvis.main.MainActivity" />
        </activity>
        <activity
            android:name=".profile.SignUpActivity"
            android:label="@string/profile_signup"
            android:parentActivityName=".main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.depaul.csc595.jarvis.main.MainActivity" />
        </activity>
        <activity android:name=".community.CommunityBoardActivity"
            android:label="Community"/>
        <activity android:name=".community.CommunityPostDetailsActivity"
            android:label="Post Details"
            android:parentActivityName=".community.CommunityBoardActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="edu.depaul.csc595.jarvis.community.CommunityBoardActivity" />
        </activity>

        <!-- This for Allstate Reminder -->

        <activity android:name=".reminders.main.CustomReminderActivity"
            android:label="Custom Reminder"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".reminders.ui.activities.CreateEditActivity"></activity>
        <activity android:name=".reminders.ui.activities.ViewActivity"></activity>
        <activity android:name=".reminders.ui.activities.PreferenceActivity"></activity>
        <activity
            android:name=".detection.DetectionBaseActivity"
            android:label="@string/title_activity_detection_base" >
        </activity>
        <receiver android:name=".reminders.receivers.AlarmReceiver" />

        <receiver android:name=".reminders.receivers.BootReceiver" />

        <receiver android:name=".reminders.receivers.SnoozeActionReceiver" />

        <receiver android:name=".reminders.receivers.DismissReceiver" />


        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name="edu.depaul.csc595.jarvis.detection.gcm.JarvisGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->

        <!-- [START instanceId_listener] -->
        <service
            android:name="edu.depaul.csc595.jarvis.detection.gcm.JarvisInstanceIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

        <service
            android:name=".detection.gcm.TokenIntentService"
            android:exported="false">
        </service>

        <service
            android:name=".detection.gcm.TokenUpdateIntentService"
            android:exported="false">
        </service>

        <!-- This is for App Intro -->

        <activity android:name=".appintro.main.animations.DepthAnimation"></activity>

        <!-- Ends -->

    </application>

</manifest>


    <!--android:theme="@style/FullscreenTheme"-->
